* {
  color: rgba(88, 20, 20, 0.874);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 2px;
  padding: 2px;
}

h1 {
  color: rgb(28, 3, 193);
  text-align: center;
  text-decoration: underline;
}

hr {
  height: 20px;
  width: 100%;
  background-color: rgb(134, 176, 243);
}

h2 {
  color: rgb(85, 61, 241);
  text-align: start;
}

main {
  max-height: 1000px;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

}

.search-form {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}

.main-form {
  grid-column: 1 / span 2 ;
  grid-row: 2 / span 4;
}

.form-car {
  margin: 5px;
  padding: 5px;
  align-items: start;
  
}

input {
  width: 160px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  display: inline-block;
}

label {
  padding: 12px 12px 12px 0;

}

aside {
  grid-column: 3/ span 4;
  grid-row: 2 / span 4;
}

table {
  background-color: lightcoral;
  border-color: lightcoral;
  border: 0.1 solid;

}

th {
  gap: 2px;
  border-color: white;
  border: 0.1 solid;
}

.car-data {
  display: grid;
}

button {
  background-color: rgb(182, 108, 243);
  border: none;
  width: 100px;
  height: 30px;
  font: bold;
  color: white;
  border-radius: 6%;
}